.search-container {
  display: flex;
  flex-direction: column;
}

.search-input {
  background-color: #ffffff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  border: none;
  height: 40px;
  border-radius: 50px;
  font-size: 16px;
  padding-left: 10px;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.search-btn {
  width: 100%;
  max-width: 200px;
  height: 30px;
  margin: 10px auto auto auto;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  background-color: #4e86da;
  color: #f1f1f1;
  text-align: center;
}

.search-btn:hover {
  background-color: #2969c9;
}

.search-input::placeholder {
  font-style: italic;
  color: #cacaca;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card {
  margin: 5px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.card-body {
  padding: 0;
  height: 25px;
}

h5 {
  margin: 0;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card img {
  width: 100%;
  height: 250px;
}

.card-btn {
  width: 100%;
  max-width: 200px;
  height: 30px;
  margin: 10px auto auto auto;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  background-color: #4e86da;
  color: #f1f1f1;
  text-align: center;
}

.card-btn:hover {
  background-color: #2969c9;
}

#btn-container {
  margin-top: 10px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.page-btn {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #4e86da;
  color: #f1f1f1;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  margin: 1px;
  user-select: none;
  cursor: pointer;
}

.page-btn-active {
  background-color: #4eb4da;
  cursor: auto;
}

.page-btn-active:hover {
  background-color: #4eb4da !important;
}

.page-btn:hover {
  background-color: #2969c9;
}

.page-btn-endpoint {
  background-color: #8c60df;
}

.page-btn-endpoint:hover {
  background-color: #6c33d7 !important;
}

.detail-container {
  display: flex;
  flex-direction: column;
}

h2 {
  margin: 0;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}